@model CoverType
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form method="post">

    <div class=" border p-3 mt-4">
        <div asp-validation-summary="All"></div>
        <div class="row pb-2">
            <h2 class="text-primary">Update CoverType</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class=" form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="category" asp-action="Edit" class="btn btn-secondary" style="width:150px">
            back
        </a>
    </div>

</form>
@section scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
